<div class="container content">
    <div class="row">
        <div class="col-md-6">
            Hola
        </div>
        <div class="col-md-6">
            Mundo!
        </div>
        <div class="col-md-12">
            <button class="btn btn-success">Prueba Boot</button>
        </div>
    </div>
</div>